<div class="collections">
	<h4 class="sechead">Contact Us </h4>
		<div class="secinblock">
			<br/><br/><br/>
			RailsFactory<br/><br/>

			Reg:Sedin Technologies Private Limited<br/><br/>

			#38/39 - 3rd Floor, Whites Road Circular Building,<br/><br/>

			White's Road, Royapettah<br/><br/>

			Chennai, TN, India - 600014<br/><br/>

			Email: info@railsfactory.com<br/>

			<br/><br/><br/><br/>
		</div><!-- section block -->
</div>
