<div class="collections">
<h4 class="sechead">Terms and Conditions</h4>
<div class="secinblock">
<P> This Website is only a venue where Users may meet and interact with us for their sale and purchase transactions.The commercial/contractual terms include without limitation price, shipping costs, date, period, mode of delivery, warranties related to products and services including after sales services related to product(s) and services, etc., over which we have complete control and same may be the subject to change.
<br/><br/>The agreement between you and ShopMe is subject to the following terms and conditions :-
<div class="static">
<ul>
		<li>The User certifies that he/she is at least 18 (eighteen) years of age or has the consent of a parent or legal guardian.</li><br/>
		<li>These terms and conditions supersede all previous representations, understandings, or agreements and shall prevail notwithstanding any variance with any other terms of any order submitted.
		</li><br/>
		<li>All prices, unless indicated otherwise are in Indian Rupees.</li><br/>
		<li>By indicating User's acceptance to purchase any product or service offered on the website, user is obligated to complete such transactions. Users shall prohibit from indicating its acceptance to purchase products and services where it does not intend to complete such transactions.</li><br/>
		<li>Any order placed for a product that is listed at an incorrect price may be cancelled. This shall be regardless of whether the order has been confirmed and/or payment levied. In the event the payment has been processed, the same shall be credited to your account and duly notified to you by email.</li><br/>
		<li>In a credit card transaction, you must use your own credit card. ShopMe will not be liable for any credit card fraud. The liability to use a card fraudulently will be on the user and the onus to 'prove otherwise' shall be exclusively on the user.</li><br/>
		<li>In the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or shipping address) any extra cost towards re-delivery shall be claimed from the User placing the order.
		</li><br/>
		<li>Payment gateway takes 24 to 48 hours to confirm the payment to check for fraudulent transactions. Shipment/Delivery time of order processing starts from the day of receipt of the payment confirmed against the order placed with ShopMe. Usually all orders are processed and shipped within 7 working days (excluding Saturday & Sunday), once payment is confirmed. However, certain categories </li><br/>
		<li>Payment gateway takes 24 to 48 hours to confirm the payment to check for fraudulent transactions. Shipment/Delivery time of order processing starts from the day of receipt of the payment confirmed against the order placed with ShopMe. Usually all orders are processed and shipped within 7 working days (excluding Saturday & Sunday), once payment is confirmed. However, certain categories</li><br/>
		<li>ShopMe expressly reserve all intellectual property rights in all text, programs, product(s), processes, technology, content and other materials, which appear on this website. Access to this website does not confer and shall not be considered as conferring upon anyone any license under any of ShopMe or any third party's intellectual property rights.</li><br/>
		<li>All rights, including copyright, in this website are owned by or licensed to ShopMe. Any use of this website or its content, including copying or storing it in whole or part, other than for your own personal, non-commercial use is prohibited without the permission of ShopMe. You may not modify, distribute or re-post anything on this website for any purpose.</li><br/>
</ul>
</div>
</P>
</div><!-- section block -->
</div>
