<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Crux</title>
<!--<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />-->
<%= stylesheet_link_tag 'style'%>

</head>
<body>
<div class="main-header">
<div class="logo">
<a href="/"><img alt="" src="/assets/logo-crux.png" /></a>
<!--<a href="#" style="margin-left:20px;"><img alt="" src="images/spree_50.png" /></a>-->
</div>
<!--<div class="top_navi">
<ul>
<li><a href="#">Login</a></li>
<li class="last"><a href="#">Home</a></li>
</ul>
</div>-->
<ul id="nav-primary">
<%c=controller.controller_name%>
<%if c=="home"%>
<li class="active"><a href="/">Home</a></li>
<%else%>
<li ><a href="/">Home</a></li>
<%end%>
<!--<li><a href="#">Feature Tour</a></li>
<li><a href="#">Examples</a></li>-->
<li><a href="#">FAQ</a></li>
<%if c=="stores_registration"%>
<li class="active"><a href=<%= stores_registration_index_path%>>Pricing &amp; Signup</a></li>
<%else%>
<li ><a href=<%= stores_registration_index_path%>>Pricing &amp; Signup</a></li>
<%end%>
</ul>
</div>
<%=yield%>
<div class="footer main-wrapper">
<p>Powered by <a href="">Railsfactory</a></p>
<ul class="foo-menu">
<li><a href="">Terms &amp; Conditions</a></li>
<li><a href="">Privacy Policy</a></li>
<li><a href="">Contact</a></li>
</ul>        
</div>
</body>
</html>