<%= render "spree/shared/error_messages", :target => @order %>
<table cellspacing="0" cellpadding="0" class="grid-table add-to-cart"  id="cart-detail">
<thead>
<tr>
	
	<th class="item">Item</th>
	<th class="desc">Description</th>
	<th class="price">Price</th>
	<th class="qty">Qty</th>
	<th class="total">Total</th>
	<th class="delete_link"></th>

</tr>
</thead>
<tbody  id="line_items">
<%= order_form.fields_for :line_items do |item_form| %>
<%= render 'line_item', :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form %>
<% end %>
</tbody>
</table>
