<div class="collections">
<h4 class="sechead">SHOPPING CART</h4>
<div class="box-content">
<% if @order.line_items.empty? %>
<div class="btns-left">			
<input type="submit" class="button primary" name="commit" value="Continue Shopping" onclick="window.location.href='/products'" />
</div>

<%else%>

<%= form_for(@order, :url => update_cart_path, :html=>{:id=>'update-cart'}) do |order_form| %>

<%= render :partial => 'form', :locals => {:order_form => order_form} %>

<% end %>
<div class="addtocart-btns">
<div class="btns-left">
<input type="button" class="button primary btn-continue-shop" name="commit" value="Continue Shopping" onclick="window.location.href='/products'" />
<div class="empty-cart"><%= form_tag empty_cart_path, :method => :put do %>

<input type="submit" class="button primary" name="commit" value="Empty Cart" />
<% end %>
</div>

</div>
<div class="btns-right" id="subtotal">
<input type="button" class="button primary" name="commit" value="Update" onclick="$('form#updatecart').submit(); return false;"/>
<input type="button" class="button primary" name="commit" value="Checkout"  onclick="window.location.href='/checkout'"/>										
</div>
</div>

<%end%>
</div>

</div>



