<table>
<thead>
<tr>
<th colspan="2">Order Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Item Total:</strong></td>
<% @line_item =Spree::LineItem.find_all_by_order_id(order.id)%>
<%r=0%>
<td><strong><% @line_item.each do |k|%>
<%qt=k.quantity%>
<% r=r +qt.to_i%>
<%end%>
<%=r%>
</strong></td>
<td><strong><%#= number_to_currency order.item_total %></strong></td>
</tr>
</tbody><tbody id="summary-order-charges">
<% order.adjustments.each do |adjustment| %>
<tr>
<td><%= adjustment.label %>: </td>
<td><%= number_to_currency adjustment.amount %></td>
</tr>
<% end %>
</tbody>
<tbody><tr>
<td><strong>Order Total:</strong></td>
<td><strong><span id="summary-order-total"><%= number_to_currency @order.total %></span></strong></td>
</tr>
</tbody>
</table>
