<div class="collections">
	<h4 class="sechead">ABOUT US</h4>
		<div class="secinblock">
				<br/><br/><P>&nbsp;&nbsp;&nbsp;&nbsp;Hello! It's nice of you to take the time to get to know us better. Here are some things about us that we thought you might like to know.ShopMe went live in 2007 with the objective of making books easily available to anyone who had internet access. Today, we're present across various categories including movies, music, games, mobiles, cameras, computers,healthcare and personal products, home appliances and electronics - and still counting! With over 11.5 million book titles, 11 different categories, more than 2 million registered users and sale of 30000 items a day, we can say with utmost confidence that we are one of the leading e-commerce players in the country. </p>
				<br/><P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We believe that our success is largely due to our obsession with providing our customers a memorable online shopping experience. Be it our path-breaking services like Cash on Delivery, a 30-day replacement policy, EMI options, free shipping - and of course the great prices that we offer. Then there's our dedicated ShopMe delivery team that works round the clock to personally make sure packages reach on time. For now they're present in 27 lucky cities, but don't worry, plans are underway to spread to many others.So it's no surprise that we're a favourite online shopping destination.And it's all thanks to you!</P><br/><br/>
		</div><!-- section block -->
</div>
