 div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }
body {
  line-height: 1em;
  color: black;
  /*background: #ffffff;*/
}
#content {overflow:hidden;}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
/*hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: #ffffff;
  color: #ffffff;
}*/
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background:url("../images/bg_02.png") repeat-y scroll center 0 #D6F7FF !important;
}
.logo {
    margin: 20px 0 0 0;
    padding: 5px;
}
.logo {
    float: left;
}
/*h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}*/
#content h1 {
    padding: 6px 0 6px 10px;
    margin:15px 15px 20px 15px;
    background: -moz-linear-gradient(center top , #356AA0 0%, #5085BB 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #356AA0),color-stop(1, #5085BB));
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}
h1 img { margin: 0; }

h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
/*p { margin: 0 0 1.5em; }*/
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #2e6ab1;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.quiet { color: #666666; }
.loud { color: #111111; }
form p.field {
  margin-bottom: 0.5em;
  clear: both;
}
form p.field span.req {
  color: red;
  position: relative;
  top: -3px;
}
form p.field input[type=text] {
  /*float: left;*/
  margin: 0 5px 7px 0;
}
form p.field select {
  /*float: left;*/
  margin: 0 5px 7px 0;
}
form p.field.radios { line-height: 150%; }
label { font-weight: bold; }
div#checkout #checkout_form_address #billing label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
div#checkout #checkout_form_address #shipping label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
fieldset { margin-bottom: 1em; }
legend {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body {
  margin-top: 10px;
  background: #ffffff url(../images/body-back.png) top left repeat-x;
}
div.left {
  float: left;
  width: 49%;
}
div.right {
  float: right;
  width: 49%;
}
a { outline: none; }
#wrapper {
  /*background: #ffffff;
  padding: 0px 20px 0px 0;*/
  position: relative;
 /*-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
 margin-top:20px;
}
/*body.two-col #wrapper { background-image: url(../images/wrapper-back-2.png); }*/
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}
#sidebar {
  display: inline;
  float: left;
  width: 210px;
  padding-right: 0px;
}
#sidebar h3 { margin-bottom: 0.5em; }
 .title-pro {
   background: -moz-linear-gradient(center top , #356AA0 0%, #5085BB 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #356AA0),color-stop(1, #5085BB));
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 4px 8px 4px 10px;
}
#sidebar h2 {
    border-bottom: 1px solid #DEDEDB;
    background:none;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px 4px 20px;
    color:#333333;
    margin:0 0 10px 0;
    text-transform:capitalize;
}
 /*.title-pro { margin-left:12px;}*/
body.one-col #content {
  display: inline;
  float: left;
  width: 100%;
}
body.two-col #content {
  display: inline;
  float: right;
  width: 738px;
  min-height:600px;
}
#header {
  position: relative;
  color: #2e6ab1;
  clear: both;
}
#header a { color: #2e6ab1; font-size:12px; }
#header a:hover { color: #000; }
#footer {
padding: 10px 0 5px 20px;
  clear: both;
  width:980px;
  margin:0 auto;
}
#footer div.left { width: 37%; }
#footer div.right {
  width: 63%;
  text-align: right;
}
h1 { font-size: 2.5em; }
.form-buttons, .clear { clear: both; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.navigation-list {
	list-style: none;
	margin: 0;
    background: #ebebe6;
    display: block;
    min-height: 536px;
    padding: 10px 0px 10px 0px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
/*.navigation-list li { margin: 0; 
    border-bottom: 1px solid #5bd1e9;
    height: 40px;
    line-height: 40px;
    width: 100%;
}*/
.navigation-list li a {
  cursor: pointer !important;
  text-decoration: none;
  line-height:26px;
  display: block;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  padding-left:20px;
  font-style:italic;
}
.navigation-list li a:hover { text-decoration: underline; color:#000; }
/*.navigation-list li.current { width: 200px; }*/
.navigation-list a.root {
  color: #0192B5;
}
.breadcrumbs { margin-bottom: 1em; }
.breadcrumbs ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.breadcrumbs ul li {
  line-height: 20px;
  color: #666666;
}
.breadcrumbs ul li a {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span { color: #333333; }
div#login-bar { float:right; }
ul#language-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar strong { font-weight: normal; }
ul#nav-bar {
  line-height: 50px;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:right;
}
ul#nav-bar li {
  display:inline;
  margin-left: 1em;
}
ul#nav-bar li.cart-indicator a {
  padding-right: 40px;
  background: transparent url(../images/cart-empty_x32.png) center right no-repeat;
  display: block;
}
ul#nav-bar li.cart-indicator a.full { background-image: url(../images/cart-full_x32.png); }
.pagination {
  float:right;
  padding: 10px;
  text-align: right;
  margin:200px 15px 20px 0;
}
.pagination a {
    border: 1px solid #CCCCCC;
    padding: 0 5px;
    text-decoration: none;
}
.pagination em, .pagination a:hover {
  padding: 0 5px;
  border: 1px solid #000;
  background:#999;
  color:#fff;
}
.pagination a.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination span.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
.pagination a.page:hover {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.page:active {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}
.pagination span.current_page {
  font-weight: bold;
  border: 1px solid;
  border-color: #162f54;
  background-color: #2e6ab1;
  color: #ffffff;
}
.flash {
  font-size: 1.3em;
  margin: 14px 0 5px 14px;
  padding:3px;
  width:919px;
}
.flash.notice {
  background: #ccddff url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation ul li { list-style:none;}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }
button, a.button, input.button, .forgot_password p input.submit_btn {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: -moz-linear-gradient(center top , #356AA0 0%, #5085BB 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #356AA0),color-stop(1, #5085BB));
  -moz-outline-radius: 0.3em;
 -webkit-outline-radius: 0.3em;
 border:none;
  color: #111111;
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 1.1em !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /*line-height: 1.2em;*/
  margin: 0px;
  overflow: visible;
  padding: 7px;
  text-decoration: none;
  text-transform: lowercase;
  width: auto;
  height: auto;
  cursor: pointer;
  color:#ffffff;
}
button.primary, a.button.primary, input.button.primary {
  font-weight: bold;
  color: #ffffff;
}
/*button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
a.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
input.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }*/
button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  line-height: 1.4em;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle;  margin-right:5px;}
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
.prices { font-weight: bold; }
.prices #product-details .prices { font-size: 1.25em; }
.price.selling { color: #000; /*margin-top:15px; display:block; background:#f2f2f2; padding:5px;*/ font-weight:bold; color:#0192B5; }
#product-details .price.selling { font-size: 14px; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #666666;
}
.product-listing {
  list-style: none;
  padding: 0px;
}
.product-listing li {
    background: -moz-linear-gradient(center top , #EBEBEB 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB),color-stop(1, #ffffff));
    border: 1px solid #5483BD;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    /*height: 150px;*/
    margin: 10px 10px 10px 0px;
    padding: 3px;
    position: relative;
    /*width: 160px;*/
    width: 190px;
}
.product-listing li a {
    color: #333333;
    display: block;
   /* font-weight: bold;*/
    text-decoration:none;
    /*margin-bottom:5px;*/
}
/*.product-listing li a.info {
  position: absolute;
  top: 155px;
  right: 0px;
  padding: 5px 0 5px 0;
  width: 160px;
  /*min-height: 60px;
  background: #ffffff url(../images/shadow_top.png) 0px -35px repeat-x;
  border-top: 1px solid #ffffff;*/
}
.product-listing li a.info span { display: block; }
.product-listing li:hover { -moz-box-shadow: 0 0 10px #5483BD;   -webkit-box-shadow: 0 0 10px #5483BD; border-color: #5483BD;}
/*.product-listing li:hover a.info {
  background: #1b1b1b url(../images/bottom_shine.png) bottom left repeat-x;
  color: #ffffff;
}*/
ul.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*ul.thumbnails li {
  float: left;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #ffffff;
  min-height: 50px;
  width: 50px;
  position: relative;
}*/
ul.thumbnails li {
  border: 1px solid #000000;
  float: left;
  margin-bottom: 10px;
  margin-right: 5px;
  min-height: 50px;
  padding: 3px;
  position: relative;
  width: 50px;
}
ul.thumbnails li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ul.thumbnails li:hover { border-color: #cccccc; }
ul.thumbnails li.selected { border-color: #999999; }
#product-variants { margin-bottom: 1em; }
#product-variants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#product-images {
  display: inline;
  float: left;
  width: 250px;
}
#product-images h4 {
  padding: 6px 0px;
  margin: 0px;
  font-weight: bold;
  clear: both;
  font-size:15px;
}
#product-images #main-image {
    padding: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
	float:left;
}
/*#product-images #main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}*/
#product-description {
    display: inline;
    float: right;
    margin: 0 15px 0 0px;
    padding: 0 10px;
    width: 310px;
}
#cart-form {
  display: inline;
  float: left;
  width: 270px;
  margin:10px 0 0 20px;
}
#taxon-crumbs {
  display: inline;
  float: left;
  width: 950px;
  display: block;
  margin-top: 10px;
  width: 310px;
  /*background:#BAD9E9;*/
  padding-bottom:10px;
}
dl.table-display {
  margin: 0;
  padding: 0;
  overflow:hidden;
}
dl.table-display dt {
  float: left;
  margin: 0;
  padding: 5px;
}
dl.table-display dd {
  float: left;
  margin: 0;
  padding: 5px;
}
dl.table-display dt { }
dl.table-display dd { width: 180px; }
div#subtotal {
    float: right;
    margin-right: 314px;
    padding: 10px;
    text-align: right;
    width: auto;
}
table { border-collapse: collapse; }
table th {
  background: transparent;
}
table#cart tr td {
  border-bottom: 1px solid #dddddd;
  padding: 1em 0;
}
table#cart tr#none td { border-bottom: none; }
table#cart h4 { margin-bottom: 0em; }
#signup #new-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
  padding:10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F5F5F1;
    border: 1px solid #D5D5D3;
    line-height:25px;
}
#signup #new-customer h2 { margin-bottom: 0.25em; }
#signup #new-customer p { margin-bottom: 10px; }
#signup #new-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#signup #new-customer input[type=checkbox] { top: 0em; }
#login #existing-customer, #new-customer, .forgot_password {
  width:400px;
  margin:10px 0 10px 15px;
  float:left;
}
#login #existing-customer h2 { margin-bottom: 0.25em; }
#login #existing-customer p { margin-bottom: 10px; }
#login #existing-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#login #existing-customer input[type=checkbox] { top: 0em; }
input.openid_url {
  background: #ffffff url(../images/openid-inputicon.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  border: 1px solid #bbbbbb;
  font-size: 1.5em;
}
ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}
ol.progress-steps li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  color: #999999;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../images/step-progress/incomplete-incomplete.gif);
}
ol.progress-steps li span {
  padding: 5px 14px 7px 24px;
  display: block;
  float: left;
  background-position: top right;
  background-repeat: no-repeat;
}
ol.progress-steps li a {
  text-decoration: none;
  color: #333333;
}
ol.progress-steps li.current-first span { padding-left: 14px; }
ol.progress-steps li.completed-first span { padding-left: 14px; }
ol.progress-steps li.current-first { background-image: url(../images/step-progress/current-first.gif); }
ol.progress-steps li.completed-first { background-image: url(../images/step-progress/completed-first.gif) !important; }
ol.progress-steps li.current { color: #ffffff; }
ol.progress-steps li.current-first { color: #ffffff; }
ol.progress-steps li.current-last { color: #ffffff; }
ol.progress-steps li.completed { background-image: url(../images/step-progress/completed-completed.gif); }
ol.progress-steps li.current { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.current-last { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.next { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.next-last { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.next-last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.current-last span { background-image: url(../images/step-progress/current-right.gif); }
div#checkout { position: relative;     -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F5F5F1;
    width: 920px;
    margin:0px auto;
    padding: 0 0 15px;
    border: 1px solid #D5D5D3;}
div#checkout .progress-steps {
  position: absolute;
  top:48px;
  right: 15px;
}
div#checkout form {
  background-position: top right;
  background-repeat: no-repeat;
}
div#checkout #checkout_form_address { margin-left:15px;}
div#checkout #checkout_form_delivery { margin: 0 0 0 15px;}
div#checkout #checkout_form_address #billing label {
  float: left;
  /*padding-right: 10px;*/
  width:190px;
}
div#checkout #checkout_form_address #shipping label {
  float: left;
  /*padding-right: 10px;*/
  width:190px;
}
div#checkout #checkout_form_address #billing input { width: 304px; float:left; }
div#checkout #checkout_form_address #shipping input { width: 304px; }
div#checkout #checkout_form_address #billing select { width: 308px; float:left; }
div#checkout #checkout_form_address #shipping select { width: 308px; }
div#checkout #checkout_form_address #billing p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address #shipping p.checkbox { /*padding-left: 200px;*/ }
div#checkout #checkout_form_address .form-buttons { /*padding-left: 200px;*/ }
div#checkout #checkout_form_address #billing p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #shipping p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #billing p.checkbox input { width: auto !important; }
div#checkout #checkout_form_address #shipping p.checkbox input { width: auto !important; }
div#checkout #checkout_form_payment { margin:20px 0 0 15px; }
div#checkout #checkout_form_payment select { width: 75px; }
div#checkout #checkout_form_payment #payment {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
}
div#checkout #checkout_form_payment #order_details {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
div#checkout #payment-methods {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 720px;
}
div#checkout #payment-methods li {
  display: block;
  display: inline;
  float: left;
  width: 190px;
  margin-right: 10px;
}
div#checkout #payment-methods li.last {
  display: inline;
  float: left;
  width: 190px;
}
div#checkout #checkout-summary {
  background-color: #D6F7FF;
  float: right;
  width: 200px;
  margin:20px 15px;
  border: 1px solid #CCCCCC;
}
div#checkout #checkout-summary  h3 {
    background-color: #4277AD;
    margin:0px;
    color:#ffffff;
   padding: 4px 0 4px 10px;
    font-size:15px;
}
/**/
#similar_items_by_taxon li { line-height: 14px;
    list-style: none outside none;
    padding: 8px 0 0 0px;}
#similar_items_by_taxon li a { font-size:12px;  background: url("../images/control_play.png") repeat-y scroll 0 -1px transparent; padding-left:25px; color:#000;}
#breadcrumbs { /*background:#DDDEDF;*/ margin:10px 30px 0 17px; border-bottom:1px solid #ccc;}
#breadcrumbs ul li { float:left; margin:5px 10px 0px 10px; list-style:none; padding-bottom:5px;}
#taxon_products { margin-left:10px;}
#subtotal h3 { margin:0px 0 10px 0; font-size:16px; font-weight:bold;}
#product-description p { margin-left:0px;}
#billing legend, #shipping legend, #shipping_method legend, #payment legend  { background: none repeat scroll 0 0 #4277AD;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 5px;
    width: 650px;
    margin-bottom:8px;
}
 p.field{/* margin-top:10px;*/}
.inner p, p.field, #payment p, #order p, #footer p, #existing-customer p, #new-customer p, .forgot_password p, #guest_checkout p { margin-left:0px;}
 #cart-detail { width: 630px; margin:0px 0 0 15px;}
 #shipping_method { margin-top:20px;}
div#checkout #checkout_form_payment #payment  { float:none; display:block;}
#payment label { line-height:210%;}
#order { margin-left:15px;}
.index { width:928px;}
.forgot_password h2 {margin-bottom: 0.25em;}
.forgot_password p { margin-top:10px;} 
#sidebar_products_search { margin-left:15px;}
#sidebar_products_search  .navigation { background:#D6F7FF; border:1px solid #528F9B; margin:10px 20px 10px 0px;}
#sidebar_products_search  .navigation li { padding:5px;}
#sidebar_products_search  .navigation input[type="submit"] { margin:5px 0 10px 10px;}
#sidebar_products_search #products #product_2, .taxon #products li, .item-info p { margin-left:0px;}
.taxon { margin-left:14px; float:left;  margin-left:15px;}
.taxon h2 { margin: 10px 0 0 0px;}
ul.search-bar-hme { float:left;}
ul.search-bar-hme li#search-bar { list-style:none;}
#guest_checkout { float:left; margin: 13px 0 0 30px;}
#guest_checkout p input { margin-top:10px;}
#product-description h3 { margin:0px; color:#0192B5; border-bottom:1px dashed #cccccc; font-size:14px; padding:5px 5px 5px 0; font-weight:bold;}
#product-description p { /*border-bottom: 1px dashed #CCCCCC; padding-bottom: 10px;*/  margin-top: 5px; font-size:12px;}
dl.table-display dt.even { background:#D6F7FF; -moz-border-radius:6px; -webkit-border-radius:6px; margin-top:10px;  }
#line_items td.pro-item img{ border:1px solid #ccc; padding:5px; width:60px; height:60px;}
#line_items td { vertical-align:top;}
#line_items  td {
    border-bottom: 1px solid #A7E8F6;
    font-weight: normal;
    padding: 7px 5px;
  }
#empty-cart {
    float: left;
    margin-left:-4px;
    padding: 43px 25px 10px 0;}
/*#existing-customer {border-right: 1px solid #ffffff; -moz-border-radius: 10px 0 0 10px; -webkit-border-radius: 10px 0 0 10px; background: none repeat scroll 0 0 PowderBlue;}*/
#existing-customer {border-right: 1px solid #CCCCCC; float:left; padding: 10px 30px 10px 10px;  }
#checkout-summary table { margin-bottom:0px;}
#order td { border:1px solid #cccccc;}
#order th { border-bottom:1px solid #cccccc; background:#;}
#user-info { width:300px; overflow:hidden; margin:0 0 10px 15px;}
#user-info dt { float:left; width:120px;}
#user-info dd { float:left; margin-top:0px;}
.order-summary { width:928px; margin-left:15px;}
.pro-image { text-align:center; margin:5px;height:100px;}
.pro-name { 
	/*bottom: 6px;
    left: 6px;
    position: absolute;
	width:100px;*/
	float:left;
	margin: 5px 10px 0 6px;
    width:175px;
}
.pro-name a { 
	color: #666666;
    line-height: 15px;
    font-size:14px;
    margin-bottom: 0;}
.price-selling {
    /*bottom: 2px;
    position: absolute;
    right: 6px;*/
	color: #0192B5;
	float:left;
	margin:5px 10px 0 6px;
}
#product-price, .product-price { border-bottom: 1px solid #DEE7F1; padding-bottom:5px;} 
#product-price dt, .product-price dt { width:100px; float:left;}
.add-to-cart { float:left; margin-top:10px;}
.taxon #products li { margin-right:10px;}
.taxon h2 a { font-size:14px;}
#taxon-crumbs h3 {}
tr.alt td { background:#f3fbfd;}
#checkout-summary table td { padding: 4px 10px 4px 11px;}
tr.total td { font-weight:bold;}
.index #line-items th { background:#F5F5F1; border: 1px solid #D5D5D3;}
/*#cart-detail th, #cart-detail td {border: 1px solid #CFCFCE;}*/
#cart-detail td {background:#FDFDFD;}
.category {
    border-bottom: 1px solid #18819A;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 7px;
}
#existing-customer h2,  #guest_checkout h2, .forgot_password h2, #new-customer h2, .fb-share p {margin-left: 0px;}
 /*#guest_checkout {
    background: none repeat scroll 0 0 PowderBlue;
    border-radius: 0 10px 10px 0;
    float: left;
    height: 250px;
    margin: 10px 0 0 0;
    padding: 10px 30px 10px 15px;
}*/

#footer_area {
    clear: both;
    float:left;
    width: 960px;
    border-top: 1px dashed #E9E9E9;
    margin-top: 50px;
}
.footer_bound {
    padding: 10px 15px 5px;
}
.clearfix {
    display: inline-block;
}
.ftr_sections {
    float: left;
    width: 175px;
}
#footer_area ul {
    list-style-position: inside;
    list-style-type: none;
}
#footer_area li, .browseitem_list a {
    line-height:22px;   
}
#footer_area li a, .browseitem_list a {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#footer_area li strong {
    display: block;
    font: bold 16px "Trebuchet MS",tahoma,Arial,sans-serif;
    margin-bottom: 5px;
}
a:link {
    color: #3172B4;
    color: ##FFFFFF;
    text-decoration: none;
}
.browseitem_list {
    color: #999999;
}
.ftr_row2 {
    clear: both;
    padding: 25px 0 15px;
}
.secure_icons {
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 305px;
}
.ftr_section_hdr, .cnct_us_hdr {
    font: bold 16px "Trebuchet MS",tahoma,Arial,sans-serif;
    margin-bottom: 5px;
    padding: 5px 0;
}
li.current a { background: url("../images/active-nav.png") no-repeat 0 0 scroll;
  color: #FFFFFF !important;
    font-weight: bold;
    height: 34px;
    width: 210px;
    padding-top:5px;
}
li.current a:hover { text-decoration:none;}
 #breadcrumbs ul li span { font-size:12px; font-weight:bold;}
#thumbnails {
    float: left;
    margin: 10px 0 0 0px;
}
.product-img-wrap {
    background: none repeat scroll 0 0 #F5F5F1;
    border: 1px solid #D5D5D3;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    width: 910px;
}
#reviews h3 {
    margin-bottom: 10px;
}
.fb-share { float:left; clear:both; margin-top:25px;}
.fb-share p { float: right;
    margin: 5px 0 0 10px;}
#registration {
    margin: 10px auto;
    overflow: hidden;
    width: 892px;
    padding:15px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F5F5F1;
    border: 1px solid #D5D5D3;
  }
  #registration h2, #new-customer h2, #existing-customer h2, .forgot_password h2  { font-size:20px; background: none; color:#222;  font-weight: normal;
    margin: 0px;
    padding:0px;}
#account {line-height:35px;}
.email_to_friend a {font-weight:bold; font-size:14px;}
.forgot_password, #existing-customer {  padding:10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F5F5F1;
    border: 1px solid #D5D5D3;
    line-height:25px;}
#billing { margin-top:20px;}