@import url("reset.css");
@import url("style-1.css");

.bor_bot{ border-bottom:1px dotted #808080;}

.wrapper{width:960px; margin:0 auto; background: #ffffff;}
.mainwrapper{padding:0 25px; overflow:hidden;}
.body-container{}
.header{overflow:hidden; margin:17px 0;}
.logo{float:left; width:215px; margin:0 17px 0 0;}
.logo h1 a{display:block; width:215px; height: 94px; background:url("../images/logo.png") no-repeat scroll 0 0; text-indent:-9999px;}
.asidepanel{float:left; width:214px; margin:0 17px 0 0;}
.contpanel{float:left; width:679px;}
.tophead{overflow:hidden;}
.topsection{overflow:hidden; padding:6px 0 15px 0;}
.global-nav{float:left;}
.global-nav ul{overflow:hidden; font-size:11px;}
.global-nav li{float:left;line-height: 22px; margin: 0 12px 0 0; padding:0 0 0 8px; background:url("../images/blt-globalnav.gif") no-repeat scroll 0 center;}
.cartinfo{float:right;}
.cartinfo li{float:left; line-height:20px; font-size:11px;}
.cartinfo li.cart-detail{margin:0 20px 0 0; background:url("../images/icon-cart.png") no-repeat scroll 0 0; padding:0 0 0 22px;}
.cartinfo li.login a {background:url("../images/icon-login.png") no-repeat scroll 0 0px; padding:1px 0 0 22px;}
.cartinfo li.logout{background:url("../images/icon-logout.png") no-repeat scroll 0 2px; padding:0 0 0 22px;}
.sechead{background:#df5321; padding:6px 10px; color:#ffffff; line-height:16px; text-transform:uppercase; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
.subhead{color:#383838; line-height:16px; margin:0 0 10px;}

/* product search */
.product-search{background:#f7f3f3; padding: 14px; border:1px solid #b6b6b6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.prod-search-form{overflow:hidden;}
.search-head{color:#454545; margin: 3px 10px 0 0; font-size:14px; float:left; font-weight:bold;}
.sfield{float:left; margin:0 10px 0 0;}
.product-select{width:215px; border:1px solid #808080; font-size:11px; padding:2px; margin:0px;}
.search_input{border:1px solid #808080; padding:3px 2px; width:215px; font-size:11px;}
.sbtn-submit{background:#ADD73A; color:#ffffff; font-size:12px; font-weight:bold; border:0; cursor:pointer; display:block; padding:2px 8px;  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; overflow:visible;}
.sbutton{float:left;}

/* sidenav */
.sidenav{margin:0 0 17px 0;}
.prolist{border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; padding-bottom:10px;}
.prolist li{font-size:12px; color:#454545; line-height:16px; border-bottom:1px dotted #a9a9a9; padding:4px 10px;}
.prolist a {color:#454545;}
.prolist a:hover {color:#8d9a00;}

.promo-banner{border: 1px solid #B6B6B6; text-align:center; padding:15px 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.brands{margin:17px 0 0 0;}
.arrow-left{background:#f3f3f3; width: 30px; height: 120px; border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; float:left; position:relative;}
.arrow-right{background:#f3f3f3; height: 120px; width:30px; border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; float:right;}
.sroll-mid{background:#ffffff; padding:0; float:left; width:619px;}
.brand-list{position: relative; }
.brand-list ul{overflow:hidden;}
.brand-list li{text-align:center; padding:15px 10px; float:left;}

/* slider */
.slider{margin:0 0 17px 0;}

.secblock{margin:0 0 17px 0;}
.secinblock{padding:10px 10px 0; border:1px solid #B6B6B6; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.myacct-label{float:left; margin:0 15px 0 0; width: 80px;}
.myacct-field{float:left; margin:0 15px 0 0; width: 290px;}
.myacct-edit-field{float:left;}
.myacct-edit-field a {color: #798600; text-decoration: underline;}

/* Grid Table */
.grid-table{width:100%;}
.grid-table th{padding:8px 4px; text-align:left;background: #F3F3F3; font-weight:bold;}
.grid-table td{padding:8px 4px; text-align:left; border-bottom: 1px dotted #A7A7A7;}
.grid-link{color: #798600; text-decoration: underline;}

/* product detail */
.prod-detail{padding:10px; border:1px solid #B6B6B6; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.prod-info-wrap{overflow:hidden; margin:0 0 15px 0; padding:0 0 15px 0;}
.img-container{float:left; margin:15px 15px 0 0; width:260px; border-right: 1px solid #DBDBDB; padding:0 15px 0 0; min-height: 310px;}
.prod-info{float:left; margin:15px 0 0 0; width:365px;}
.pdesc{margin:15px 0 0 0;}
.img-large{text-align:center; padding:10px 0;}
.img-thumbs{ margin:10px 0 0 0;}
.img-thumbs ul{overflow: hidden;}
.img-thumbs li{float:left; margin:0 0 0 5px;}
.img-thumbs li.active{border: 1px solid #DBDBDB;}
.img-thumbs li img {padding:2px 1px;}
.prices {color: #C90000; font-weight: bold; margin-top: 3px; font-size:18px;}
.pcount{float:right;}
.pcount .txtbox{width:80px;}
.addtocart{margin:15px 0 0 0; overflow:hidden;}
.btn-addcart { background: #ADD73A; color: #ffffff; float: left; padding: 5px 10px; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;border:0;}
.btn-addcart:hover{color: #ffffff;}
.txtbox{border: 1px solid #DBDBDB; padding:3px; font-size:12px;}
.pvalue{overflow:hidden; border-bottom: 1px dotted #A7A7A7;}
.pattr{float:left; margin:0 10px 0 0; padding: 6px 0; width:310px;}
.pattr span {color: #798600; font-weight: bold;}

/* similar items */
.similar-items li{float:left; width:95px; margin:0 10px 0 0; background: url("../images/blt-square.gif") no-repeat scroll 0 9px transparent; padding: 4px 0 4px 10px;}

/* Payment Details */
.form_block{padding:4px 0 10px 0; overflow:hidden;}
.field_wrap{overflow:hidden; margin:0 0 8px 0;}
.field_wrap label{float:left; width: 180px; display:block; margin: 2px 0 0 0; line-height:15px; font-size:12px;}
.txtinput{border: 1px solid #B6B6B6; display: block; /*line-height: 31px;*/ padding: 3px 4px; font-size:12px;}
.txtselect{border: 1px solid #B6B6B6; display: block; padding: 3px 4px; font-size:12px;}
.input_wrap{float:left;}
.payment_address .txtinput{width:220px;}
.payment_address .txtselect{width:230px;}
.check_wrap{overflow:hidden; margin:0 0 10px 0;}
.txtcheck{float:left;}
.txtradio{float:left;}
.check_wrap label{line-height:15px; float:left; display:block; margin: 0 0 0 8px;}
.req{color: #FF0000;}
.exp_month{float:left; margin:0 10px 0 0; width:110px;}
.exp_year{float:left; width:110px;}
.card_details{margin:0 0 10px 0;}
.card_details .txtinput.card_no{width:220px;}
.cvv_desc{float:left; display:block; margin:4px 0 0 10px; color: #798600; text-decoration:none;}

/* Confirm Order */
.confirm_order{margin:15px 0 15px 0;}
.confirm_order table th.desc{width:60%;}
.confirm_order table th.price{width:15%;}
.confirm_order table th.qty{width:10%;}
.confirm_order table th.total{width:15%;}
.subtotal{font-weight:bold;}
.ordertotal{font-weight:bold;}

.box-content{overflow:hidden; border:1px solid #b6b6b6; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; padding:10px;} 
.prod-detail-info{margin: 0 0 25px 0;}

/*Manikandan T*/

input { margin:0px; padding:0px;}

/*sign in page*/
.login-container{padding:100px 0 70px 0; border-top: 3px solid #76A2CA;}
.wrapper-lb { position:relative; width:400px; margin:60px auto;}
a.close-btn { position:absolute; background:url(../images/close-btn.png) no-repeat 0 0 scroll; text-indent:-9999px; height:30px; width:30px; top:-12px; right:-18px;}
.sign-in-page { overflow:hidden; padding:15px; border:10px solid #F3F3F3; border-radius: 7px; -moz-border-radius: 7px; -moz-border-radius: 7px; box-shadow:0 0 10px #a4a4a4; -moz-box-shadow:0 0 10px #a4a4a4; -webkit-box-shadow:0 0 10px #a4a4a4; background:#ffffff;}
.sign-in-page h2 { font-size:20px; margin-bottom:15px;}
.fm-elements { overflow:hidden; margin-bottom:10px;}
.fm-elements label { display:block; margin-bottom:5px;}
.check-box { float:left;}
.fm-elements p { float:left; margin-left:7px;}
.fm-elements input.txt-fld { border:1px solid #8191a5; display: block; /*height: 23px; line-height: 31px;*/ padding: 6px 8px; width: 330px;}
.sing-in-bottom a { display:block; margin-bottom:7px; color:#798600;}
input.button { cursor:pointer; font-family:12px; padding:3px 5px; font-family:Verdana, Arial, Helvetica, sans-serif; border:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#FFFFFF; overflow:visible;}
input.primary { background:#ADD73A; font-weight:bold;}
label.error { float:left; margin-top:5px; color:#FF0000;}
.sing-in-bottom ul{overflow:hidden;}
.sing-in-bottom li{float:left; font-size:11px; margin:0 10px 0 0;}

/*home page*/
.collection-img-wrap { overflow:hidden; border:1px solid #b6b6b6; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; padding:10px 0 0 0; *padding-bottom:10px;}
.col-left-wrap { overflow:hidden; float:left;}
.coll-left {min-height: 190px; float:left; width:210px; margin: 0 0 10px 10px; position:relative; border:1px solid #dbdbdb; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative;}
.coll-info { margin-top:18px; position:absolute; z-index:100; padding: 10px; width:190px; bottom:0; background: url("../images/shadow_top.png") repeat-x scroll 0 -35px #FFFFFF; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px;  -webkit-border-radius:0 0 5px 5px;}
.coll-img { text-align: center;}
.size-color { overflow:hidden; border-bottom:1px dotted #a7a7a7; border-top:1px dotted #a7a7a7; margin-top:6px;}
.size-color p { float:left; padding:6px 0; color:#6e6e6e;}
.size-color p.color { margin-left:20px; float:right;}
.size-color p span { color:#798600; font-weight:bold;}
.price-enlarge-buy p { float:left;}
a.enlarge { background:url(../images/icon-magnify.png) no-repeat 0 4px scroll; padding:2px 0 2px 15px; color:#c90000; text-decoration:underline; float:left;}
.price-enlarge-buy { overflow:hidden; margin-top:15px;}
p.price {font-weight:bold; color:#F7683A; font-size:14px;}
p.price span { color:#F7683A;}
a.buy-it { float:right; background:#add73a; color:#ffffff; font-weight:bold; padding:3px 10px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.line-btm { border-bottom:1px solid #dbdbdb; clear:both; width:195px; margin:19px 0 0 15px; float:left;}
.right-side .coll-left  { border:none; margin-left:22px; padding-right:17px;}
.item-name{color:#75a1cb; font-size:11px; font-weight:bold;}

/*inner page*/
.price-range { overflow:hidden; margin-bottom:27px;}
.chckbox-wrap { overflow:hidden; margin-bottom:11px;}
.chckbox-wrap .chck-bx { float:left;}
.chckbox-wrap span { float:left; margin-left:10px;}
.inner-list {background: none repeat scroll 0 0 #F3F3F3; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; padding: 10px 20px; margin-top:3px;}

/*Add to cart*/
.add-to-cart { margin-top:10px;}
.add-to-cart td { vertical-align:middle;}
.add-to-cart td.pro-details {padding-right:20px;}
.collections .add-to-cart th { padding:8px 4px;}
.txt_qty { width:20px; font-size:11px; font-family:tahoma;}
.add-to-cart th.item{width:15%;}
.add-to-cart th.desc{width:45%;padding-right:20px;}
.add-to-cart th.price{width:15%;}
.add-to-cart th.qty{width:10%;}
.add-to-cart th.total{width:10%;}
.add-to-cart th.delete_link{width:30px;}
.addtocart-btns{overflow:hidden; margin:15px 0 0 0;}
.btns-left{float:left;}
.btns-right{float:right;}

.select-brand{margin:0 0 30px 0;}
.collection-img-wrap.products .coll-left{min-height:230px;}

/*footer*/
.footer {border-top:3px solid #76a2ca; clear:both; padding:0 15px; height:68px; margin:29px 0 14px; font-size:11px;}
.footer p {float:left; margin: 30px 0 0;}
.footer p a { color:#798600; text-decoration:underline;}
.footer ul { float:right; margin: 30px 0 0;}
.footer ul li { float:left; margin-left:9px; line-height:15px;}

.loginbox{width:400px; margin:0 auto;}
.loginbox .secinblock{padding:22px;}

.pcount span { float:left; margin-top:5px; padding-bottom:2px;}


#product-variants{ margin-top: 1em;}
#product-variants h2{margin-bottom:10px; color: #383838; font-size:12px;}
#product-variants li{margin:0 0 6px 0;}
/*for order summary*/
.order-inof{
	overflow:hidden;
	margin:0 0 10px 0;
}
ol.progress-steps{
	float:left;
}
ol.progress-steps li {
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    background: #F3F3F3;
}
ol.progress-steps li span {
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 5px 14px 7px 24px;
}
ol.progress-steps li.current-first {
    color: #FFFFFF;
    background: #add73a;
    font-weight:bold;
}
ol.progress-steps li.current{
    color: #FFFFFF;
    background: #add73a;
    font-weight:bold;
}
ol.progress-steps li.completed-first{
    background: #e2dfdf;
}
ol.progress-steps li.completed{
    background: #e2dfdf;
}
ol.progress-steps li.next {
    background: #F3F3F3;
}
ol.progress-steps li a {
    color: #333333;
    text-decoration: none;
}
#checkout-summary{
	float:right;
}
#checkout-summary{
	border:1px solid #B6B6B6;
}
#checkout-summary table td {
    padding: 8px 6px;
}
#checkout-summary table th {
    background: #F3F3F3;
    font-weight:bold;
    padding: 8px 6px;
    text-align:left;
    font-size:15px;
}

/*product thumnail*/
#main-image{width:240px;height:240px}

/* leftnav submenu */
.sublevel .haschild{font-weight:bold; display:block; background:transparent url("../images/arrow-right.png") no-repeat scroll right 0; color:#4b82b7;}
.sublevel{background:#e5edf5;}
.sublevel a:hover{color:#4B82B7;}
.submenu{margin-top:4px;padding:0;}
.submenu li{border-bottom:0; background: url("../images/blt-globalnav.gif") no-repeat scroll 0px 11px transparent; padding-left:10px}
