
<h4 class='sechead'> <%= t("editing_user") %></h4>

<%= form_for(@user, :html => { :method => :put }) do |f| %>
  <%= render 'shared/user_form', :f => f %>
  <p>
    <%=submit_tag t("update"),:class=>"sbtn-submit" %>
  </p>
<% end %>

