<% if current_user %>
  <li class="login-bar-icon"><%= link_to t('my_account'), account_path %></li>
  <li class="login-bar-icon"><%= link_to t('logout'), destroy_user_session_path %></li>
<% else %>
  <li class="login-bar-icon" ><%= link_to t('log_in'), login_path %></li>
<% end %>
