<%unless (request.url.include?(APP_CONFIG['domain_url']) || request.url.include?(APP_CONFIG['secure_domain_url']))%>
<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : get_taxons(current_subdomain)  %>
<%= form_tag products_url, :method => :get do %>

<div class="prod-search-form">
									<div class="search-head">Product Search</div>
									<div class="sfield">
									<%= select_tag :taxon,
        options_for_select([[t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) ,:class=>"product-select"%>
								
									</div>
									<div class="sfield">
									  <%= text_field_tag :keywords, params[:keywords],:html=>{:class=>"search_input"} %>
									</div>
									<div class="sbutton">
									<%= submit_tag t(:search),:class=>"sbtn-submit" ,:name => nil %>
									</div>								
								</div>

<% end %>
<% end %>
	
