<div id="taxonomies" class="sidebar-item">
									 <% get_taxonomies(current_subdomain).each do |taxonomy| %>

				<h4 class="sechead"><%== ' class="current"' if @taxon && @taxon == taxonomy.root %>>
        <%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.capitalize), seo_url(taxonomy.root),:class => 'root' %></h4>
							<div class="prolist">
								<ul>
      	<% taxonomy.root.children.each do |taxon| %>
				<li <%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %> ><%= link_to taxon.name, seo_url(taxon) %></li>
			<% end %>
								</ul>
							</div>
  <% end %>

</div>


