	<div class="sidenav">
		<h4 class="sechead">SHOP BY CATEGORIES</h4>
		<div class="prolist sidebar-item" id="taxonomies">
		<% get_taxonomies(current_subdomain).each do |taxonomy| %>
			<ul>
				<li class="sublevel"<%== ' class="current"' if @taxon && @taxon == taxonomy.root %> ><%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.capitalize), seo_url(taxonomy.root),:class => 'root haschild' %>		
					<ul class="submenu prolist">
										<% taxonomy.root.children.each do |taxon| %>

						<li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %> ><%= link_to taxon.name, seo_url(taxon) %></li>
																<% end %>

					</ul>

				</li>
			</ul>
			<% end %>
		</div>
	</div><!-- sidenav -->