<div id="taxonomies" class="sidebar-item">
				<h4 class="sechead">PRODUCT CATEGORIES</h4>
							<div class="prolist">
								<ul>
									 <% get_taxonomies(current_subdomain).each do |taxonomy| %>
      <li<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>>
        <%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name.capitalize), seo_url(taxonomy.root),:class => 'root' %>
      </li>
 <% end %>
								</ul>
							</div>
 
</div>



