
<div id="new-customer">
  <h4 class="sechead">Reset Password</h4>
  <div class="secinblock">
    <%= form_tag(:controller => "password", :action => "reset_password_data" , :params => params) do  %>
    <div class="fm-elements">
							                <label for="user_email">Password</label>
							                <div class="input-wrap">
																  <%= password_field_tag  :password  %>
							                </div>
							            </div>
							            <div class="fm-elements">
							                <label for="user_email">Password Confirmation</label>
							                <div class="input-wrap">
															    <%= password_field_tag  :password_confirmation %>
							                </div>
									<br/><br/>
    <div class="fm-elements">
		<input type="hidden" name="token" value="params[:token]">
      <%= submit_tag t("update"), :class => 'button primary' %>
    </div>
    <%end%>
    						        
  </div>						
</div>						
