<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation" data-hook>
  <div class="errorwrapper">
    <h2><%= t(:errors_prohibited_this_record_from_being_saved, :count => target.errors.count) %>:</h2>
   </br> <p><%= t(:there_were_problems_with_the_following_fields) %>:</p>
     <ul>
     <% target.errors.full_messages.each do |msg| %>
       <li>&nbsp;&nbsp;&nbsp;<%= msg %></li>
     <% end %>
     </ul>
  </div>
  </div>
<% end %>