                       <div class="fm-elements">
							                <label for="user_email">Email</label>
							                <div class="input-wrap">
																<%= f.text_field :email, :class => 'txtinput '    %>
							                </div>
							            </div>
													<div id="password-credentials">

							            <div class="fm-elements">
							                <label for="user_email">Password</label>
							                <div class="input-wrap">
																  <%= f.password_field :password, :class => 'txtinput'  %>
							                </div>
							            </div>
							            <div class="fm-elements">
							                <label for="user_email">Password Confirmation</label>
							                <div class="input-wrap">
															    <%= f.password_field :password_confirmation, :class => 'txtinput' %>
							                </div>
		                 </div>
										     <input type="hidden" name="user[domain_url]" value="<%=get_sub_domain(current_subdomain)%>">
		                 </div>



