<h1><%=@owner.domain.humanize%> Transaction fee details</h1>
<table class="index" id='listing_plans'>

  <tr>
	<th>ProductName</th>
	<th>Quantity</th>
	<th>Transaction Fee</th>
	</tr>
	
<% for i in 0...@product_name.count%>
<tr>
<td><%=@product_name[i]%></td>
<td><%=@pro_quantity[i]%></td>
<td><%=@total_price[i]%></td>
</tr>
<%end%>
</table>