<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SaasSpree</title>
<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main-header">
	<div class="header">
        <div class="logo">
            <a href="http://railsfactory.com"><img alt="" src="/images/logo.png" /></a>
            <a href="http://spreecommerce.com" style="margin-left:20px;"><img alt="" src="/images/spree_50.png" /></a>
        </div>
        <div class="top_navi">
            <ul>
                <% if current_user %>
								<li><a href="/account">MyAccount</a></li>
                <li class="last"><a href="/user/logout">Logout</a></li>
								<% else%>
								<li><a href="/login">Admin</a></li>
                <li class="last"><a href="/">Home</a></li>
								<%end%>
            </ul>
        </div>
  	</div>
</div>
<%=yield%>
</body>
<div class="footer main-wrapper">
	<p>Powered by Railsfactory</p>
</div>
</html>